* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #EAE8FF;
    flex-direction: column;
    color: #0A0F0D;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 50px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board {
    display: grid;
    height: 400px;
    width: 400px;
    background-color: #FAFAFF;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
}

.btn {
    background-color: inherit;
    padding: 10px 20px;
    border: 1px solid #0A0F0D;
    border-radius: 5px;
    cursor: pointer;
    color: inherit;
}

.btn:hover,
input[type='color']:hover {
    transform: scale(1.05);
}

.grid-size {
    text-align: center;
    font-weight: bold;
}

input[type='range'] {
    -webkit-appearance: none;
    background-color: inherit;
    cursor: pointer;
}

input[type='range']::-webkit-slider-runnable-track {
    height: 10px;
    border: 1px solid #0A0F0D;
    border-radius: 25px;
    margin-top: -75px;
}

input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 24px;
    height: 24px;
    border-radius: 25px;
    margin-top: -8px;
    background: #0A0F0D
}

input[type='color']:active {
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

input[type='color'] {
    -webkit-appearance: none;
    width: 80px;
    height: 80px;
    border: none;
    background-color: inherit;
    color: inherit;
    cursor: pointer;
}

input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: #0A0F0D 0px 3px 8px;
}